.svg-3d-square-dims { width: 24px; height: 24px; }
.svg-burger-menu-dims { width: 40px; height: 40px; }
.svg-chevron-right-dims { width: 16px; height: 16px; }
.svg-close-dims { width: 40px; height: 40px; }
.svg-dashboard-dims { width: 37px; height: 37px; }
.svg-discount-shape-dims { width: 24px; height: 24px; }
.svg-key-square-dims { width: 24px; height: 24px; }
.svg-message-question-dims { width: 24px; height: 24px; }
.svg-search-dims { width: 24px; height: 24px; }
.svg-user-square-dims { width: 24px; height: 24px; }
.svg-wallet-money-dims { width: 24px; height: 24px; }
