:root {
  --mainFont: 'Poppins', sans-serif;

  --mainBgColor: #fafbff;
  --pageBgColor: #fff;

  --mainTextColor: #292d32;

  --contentPageBorderRadius: 30px;

  --tabletMinWidth: 576px;
  --desktopMinWidth: 990px;
  --bigDesctopMinWidth: 1200px;
}

// :root {
//   --main-font: 'Poppins', sans-serif;

//   --main-bg-color: #fafbff;
//   --page-bg-color: #fff;

//   --main-text-color: #292d32;

//   --content-page-border-radius: 30px;

//   --tablet-min-width: 576px;
//   --desktop-min-width: 990px;
//   --bigscreen-min-width: 1200px;
// }
