.menu {
  padding: 24px 24px 76px 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(226, 236, 249, 0.5);

  transition: left 0.3s ease;

  &__heading {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__logo {
    width: 37px;
    height: 37px;
  }

  &__title {
    padding-left: 8px;
    font-weight: 600;
    line-height: 39px;
    font-size: 26px;
    letter-spacing: 0.01em;
  }

  &__version {
    padding-left: 4px;
    font-weight: 500;
    font-size: 10px;
    color: #838383;
  }

  &__button {
    padding-inline: 10px;
    display: flex;
  }

  &__icon {
    width: 100%;
    stroke: #000;
    transition:
      stroke 0.15s ease,
      transform 0.3s ease;
  }

  &__icon:active {
    stroke: #5932ea;
  }

  @media (max-width: 426px) {
    // width: 100%;
  }

  @media (min-width: 768px) {
    padding: 36px 36px 76px 40px;
    width: auto;

    &__heading {
      justify-content: normal;
    }

    &__button {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    position: absolute;
    height: 100%;
    left: -100%;
    z-index: 3;
    gap: 30px;
  }
}
