.navigation {
  flex: auto;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__title {
    font-weight: 500;
  }

  &__link {
    padding: 11px 8px 11px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    color: #9197b3;

    transition: all 0.3s ease;
  }

  &__icon-stroke {
    stroke: #9197B3;

    transition: stroke 0.3s ease;
  }

  &__icon-fill {
    fill: #9197B3;

    transition: fill 0.3s ease;
  }

  &__active {
    background-color: #5932ea;
    color: #fff;

    .navigation__icon-stroke {
      stroke: #fff;
    }

    .navigation__icon-fill {
      fill: #fff;
    }
  }
}
