aside.menu#menu
  .menu__heading
    a.menu__logo(href='/')
      svg(width='37px' height='37px' class='svg-dashboard-dims')
        use(xlink:href='./images/sprite.svg#dashboard')

    h1.menu__title Dashboard
      span.menu__version v.01

    button.menu__button
      svg(width='24px' height='24px' class='svg-close-dims')
        use(xlink:href='./images/sprite.svg#close')

  include ./navigation

  .menu__avatar
